{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2 class="h2-exp">Language</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img class="exp-img" src="{% static 'pic/python.png' %}">
            </div>
            <div class="col-sm-3">
                <img class="exp-img" src="{% static 'pic/java.png' %}">
            </div>
            <div class="col-sm-3">
                <img class="exp-img" src="{% static 'pic/js.png' %}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2 class="h2-exp">Framework</h2>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img class="exp-img" src="{% static 'pic/react.png' %}">
            </div>
            <div class="col-sm-3">
                <img class="exp-img" src="{% static 'pic/django.png' %}">
            </div>
            <div class="col-sm-3">
                <img class="exp-img" src="{% static 'pic/android.png' %}">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h2 class="h2-exp">Other</h2>
        </div>
        <div class="col-sm-7 mt-3 white-text">
            <ul>
                <li>Certified in End-User Social Engineering Prevention</li>
                <li>Basic of Networking</li>
                <li>Basic of Risk Management</li>
                <li>Basic of Information Security</li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}