{% extends 'base.html' %}

{% block content %}

<div class="typewriter">
    <h1>Gregorius Aprisunnea</h1>
    <div class"container">
        <div class="row">
            <div class="col-sm-5">
                <p class="text">
                    Nice to meet You... Please call me Greg, very honored to meet You.
                    I live by a very simple principle, "Watch then Understand".
                    Nothing interest me more than learning, I do it by watching people doing things, absorbing them
                    and making them my own.
                    I am currently a student in University of Indonesia majoring in Computer Science. I love stuffs
                    like network and infrastructure, especially security. I aimed to own my own cyber company or becoming a CISO.
                    Please contact if you ever need me: bukandummy@gmail.com
                </p>
            </div>
        </div>
    </div>       
</div>

{% endblock %}