{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-md-4">
        <p id="status">Status: </p>
        <form class="white-text" method="post">
            <div class="container m-5">
                <div class="row">
                    <div class="col-8-md">
                        {% csrf_token %}
                        {{form}}
                        <div id="results"></div> <!-- errors go here -->
                        <input id="submit-btn" type="submit" value="Submit" class="btn btn-submit white-text mt-5">
                    </div>
                </div>
            </div>                                                
        </form>
    </div>
    
    <button id="sub-trigger" class="m-2 col-md-1">-></button>
    
    <div class="col-md-6" style="background-color:rgba(129, 219, 189, 0.4);">
        <ul class="p-3" id="list-subscribers">

        </ul>
    </div>
</div>

{% endblock %}