
body {
    /* https://www.wallpaperflare.com/static/259/527/746/women-model-face-portrait-wallpaper.jpg */
    background-image: url("pic/bg.jpg");
    background-position-x: center;
    background-repeat: no-repeat;
}

.h2-exp {
    color:white;
    left: 0%;
}
.black-text{
    color: black !important;
}
.acknowledgement {
    color: rgba(255,255,255,.6);
}
#carousel-lang, #carousel-framework {
    right:0%;
}
.exp-img {
    width: 12vw !important;
    height:12vw !important;
}

.input-custom {
    border-radius: 15px;
    border: none;
    padding: 0.5vw 0.8vw;
}

.white-text {
    color:white;
}

.btn-nav {
    background-color: rgba(54, 44, 44, 0.322);
}

.btn-submit {
    background-color: rgb(223, 121, 5);
}

.navbar-custom {
    background-color: #181818c0;
    color: rgb(202, 81, 0);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.6);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.typewriter h1 {
    font-family: monospace;
    overflow: hidden;
    color: white;
    font-size: 4vw;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end);
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .typewriter p {
      color: white;
  }